body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

header{
    background-color: rgb(156, 63, 63);
    height: 100px;

}

h1{
    float:left;
    margin-left: 20px;
    margin-right: 50px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px 1px rebeccapurple
}

nav li{
display: inline-block;
margin-right: 50px;
margin-left: 30px;
}